
.part-one-container {
  height: 100vh;
  width: 100%;
  background-color: #2e3842;
  position: absolute;
}

.part-one-header-wrapper {
  position: absolute;
  border: 5px solid white;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.part-one-header-container {
  position: fixed;
  /*border: 2px solid #222;*/
  text-align: center;
  top: 45%;
  left: 50%;
  width: 90vw;
  transform: translate(-50%, -45%);
}

.part-one-header {
  font-size: 16vh;
  font-family: 'Oswald';
  color: #FDFDFD;
}

.part-one-subheader {
  font-size: 5vh;
  color: #7F1637;
  font-family: 'Merriweather';
  -webkit-animation-duration: .8s !important;
  -webkit-animation-delay: 0s;
  /*-webkit-animation-iteration-count: infinite;*/
}

