* {
  cursor: default;
}

.sections {
  height: 100vh;
  width: 100%;
}

.background1 {
  background: url("https://scontent-lga3-1.xx.fbcdn.net/t31.0-8/13679992_10208756076532524_2616922023037324921_o.jpg") no-repeat center center fixed;
  background-size: cover;
}

.background2 {
  background: url('http://i.imgur.com/AjDTXLN.jpg') no-repeat center center fixed;
  background-size: cover;
}

.sections.section1 {
}


.header {
  text-align: center;
  font-size: 100px;
}

#main-header {
  padding-top: 200px;
  font-size: 180px;
  font-family: 'oswald';
  font-weight: bold;
  margin: 0 auto;
  /*color: #3366CC;*/
  color: white;
}

#header-text {
  font-family: 'montserrat';
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 35px;
  /*color: #6699FF;*/
  color: white;
  text-shadow: 0px 3px black;
}

span {
  cursor: pointer;
}

.letter {
  white-space: pre-line;
}

.links {
  text-align: center;
  color: black;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  color: #C0C0C0;
}

#scroll-down {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.sections.section2 {
  /*background: linear-gradient(to bottom, rgba(255,255,255,0.20) 0%,rgba(255,255,255,1) 100%);*/
  background: rgba(255, 255, 255, .3);
  height: 100vh;
}

#section2-header {
  text-align: center;
  font-size: 200px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#section2-bio {
  text-align: center;
  width: 40%;
  margin: 20px auto;
  font-size: 20px;
}

.sections.section3 {
  /*background: rgba(0, 255, 255, .3));*/
  background: rgba(224, 255, 255, .3);
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  margin-top: 4%;
  border: 2px solid white;
  background-color: black;
  width: 48%;
  height: 60vh;
}

.contact-information {
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
}
