* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

.flip-click {
  position: fixed;
  height: 100vh;
  width: 10vw;
  cursor: pointer;
  color: white;
  vertical-align: middle;
}

.fa-angle-left {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translateY(-45%);
}

.fa-angle-right {
  position: absolute;
  top: 45%;
  right: 20%;
  transform: translateY(-45%);
}

#left {
  left: 0;
}

#right {
  right: 0;
}

.card {
  z-index: 1;
  /*background-color: #2e3842;*/
  position: relative;
  border: 5px solid #FAFAFA;
  height: 80vh;
  width: 80vw;
  box-shadow: 0px 20px 40px black;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flipped {
  -webkit-transform: rotateY(180deg);
}

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  height: 100%;
  width: 100%;
  cursor: default;
}

.front {
  position: absolute;
  z-index: 1;
  background-color: #2e3842;
}

.back {
  -webkit-transform: rotateY(180deg);
  color: black;
  background-color: #2e3842;
}

/* ################################################################## */

.front-header-container {
  position: fixed;
  top: 45%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -45%);
}

.front-header {
  font-size: 11vw;
  font-family: 'Oswald';
  color: #FDFDFD;
  cursor: default;
}

.front-header > span {
  cursor: pointer;
}

.front-subheader {
  font-size: 5vh;
  color: #7F1637;
  font-family: 'Merriweather';
  -webkit-animation-duration: .8s !important;
  -webkit-animation-delay: 0s;
  cursor: default;
  /*-webkit-animation-iteration-count: infinite;*/
}

ul {
  list-style: none;
  padding: 5px;
}

li {
  color: white;
}

.test {
  font-size: 300px;
  color: white;
  z-index: 3;
}

.project-thumbnail {
  height: 24vh;
  width: auto;
  border: 2px solid #FAFAFA !important;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

/*img:hover {
  background: black;
  opacity: 0.3;
}*/

.back-side-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.contact-information {
  width: 70%;
  height: 98%;
  /*border: 2px solid #FAFAFA;*/
  /*background: lime;*/
  color: white;
  text-align: center;
}

.contact-information h1 {
  font-family: 'Lobster';
  font-size: 10vw;
  margin: 0;
  padding: 3vh;
}

.contact-information > p {
  font-family: 'Abel';
  font-size: 2.5vw;
}

.info {
  padding: 3%;
}

.info p {
  font-family: 'Roboto';
  font-size: 2vw;
  padding: 0.5%;
}



.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 28%;
  height: 98%;
  /*background: lime;*/
}

.project {
  position: relative;
}

.project-name {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

.cover-hover {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  z-index: 2;
}

.project-1:hover .cover-hover {
  display: block;
  cursor: pointer;
}

.project-2:hover .cover-hover {
  display: block;
  cursor: pointer;
}

.project-3:hover .cover-hover {
  display: block;
  cursor: pointer;
}

.project-1:hover p {
  z-index: 3;
  display: block;
}

.project-2:hover p {
  z-index: 3;
  display: block;
}

.project-3:hover p {
  z-index: 3;
  display: block;
}



