* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #3a3a3a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(#fbf9fb, #e3e1e3);
}

.page-container {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
    border-top: none;
    border-bottom: none;
    padding: 20px;
    color: #3a3a3a;
}

.text-color {
    color: #6e1bd3;
}

header h1 {
    font-family: 'Oswald';
    font-size: 90px;
}

header p {
    font-family: 'Source Serif Pro';
    font-size: 20px;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.content {
    padding-top: 50px;
}

.content__portfolio {
    display: flex;
    flex-flow: column nowrap;
}

.summary2 {
    padding-bottom: 50px;
    font-family: 'Source Serif Pro';
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.summary2 p {
    padding-left: 20px;
    font-size: 20px;
    color: #6e1bd3;
}

.project-container {
    margin-bottom: 30px;
    /* opacity: .7; */
    display: flex;
    flex-flow: row nowrap;
}

.project-info {
    width: 50%;
    padding-right: 20px;
    /* margin-right: 90px; */
}

.small .project-info {
    width: 100%;
    margin-right: 0;
}

.project-image {
    width: 400px;
    height: 230px;

    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1px;
}

.project__name {
    font-family: 'Oswald';
    font-size: 40px;
    /* color: #6e1bd3; */
}

.project__desc, .project__tech {
    font-family: 'Source Serif Pro';
}   

.project__tech {
    color: #3a3a3a;
    opacity: .6;
    font-size: 15px;
    font-family: 'Source Serif Pro';
}

.main {
    opacity: 1;
}

.emoji {
    font-size: 50px;
    animation: waving .5s infinite ease-in-out alternate;
    transform: rotate(0deg);
}

@keyframes waving {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(25deg)
    }
}

.more-ore-link {
    text-decoration: underline;
    font-weight: bold;
}