* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

}

.stripes {
    display: flex;
    flex-flow: column nowrap;
}

.stripe {
    height: 150px;
    width: 100%;
}

.stripe:nth-child(1) {
    background: #7280fd;
}

.stripe:nth-child(2) {
    background: #487dff;
}