* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.page-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: snow;
  padding: 0 3rem;
  color: #222;

  background: linear-gradient(270deg, #fffafa, #d5f0ec, #e6f2c3);
  background-size: 600% 600%;

  -webkit-animation: background-gradient 30s ease infinite;
  -moz-animation: background-gradient 30s ease infinite;
  animation: background-gradient 30s ease infinite;
}

@-webkit-keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.page-content > h1 {
  font-size: 6rem;
  font-family: 'Noto Serif';
  opacity: 0;
  animation: fall-in .5s ease-in-out .5s;
  animation-fill-mode: forwards;
}


@-webkit-keyframes fall-in {
  0% {opacity: 0; transform: translateY(-100px);}
  50% {opacity: .5;}
  100% {opacity: 1; visibility: visible; transform: translateY(0px);}
}

@-moz-keyframes fall-in {
  0% {opacity: 0; transform: translateY(-100px);}
  50% {opacity: .5;}
  100% {opacity: 1; visibility: visible; transform: translateY(0px);}
}

@keyframes fall-in {
  0% {opacity: 0; transform: translateY(-100px);}
  50% {opacity: .5;}
  100% {opacity: 1; visibility: visible; transform: translateY(0px);}
}

.page-content p {
  font-size: 2rem;
  font-family: 'Open Sans';
  animation: fade-in .5s ease-in 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



