* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.page-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: snow;
}

header {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  color: #3a3a3a;
  /*color: #3F51B5; */
  font-size: 5rem
}

header p {
  font-family: 'Raleway', sans-serif;
}

.project-container {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  opacity: 0.6;
  transition: opacity .3s;
  cursor: pointer;
  position: relative;
}

.project-container:hover {
  opacity: 1;
}

.project-container:hover .project-info {
  opacity: 1;
}

.project-info {
  opacity: 0;
  color: white;
  transition: opacity .3s;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3)
}

.project-name {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

.project-desc {
  font-family: 'Raleway', sans-serif;
}

#project-moreore {
  background-image: url('./moreore.png');
  background-size: cover;
}

#project-automatetheworld {
  background-image: url('./automatetheworld.png');
  background-size: cover;
}

#project-automatetheworld .project-info {
  background-color: rgba(0, 0, 0, 0.8)
}

#project-doors {
  background-image: url('./doors2.png');
  background-size: cover;
}

#project-doors .project-info {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  padding: 10rem 10rem;
  text-align: center;
}

footer h1 {
  font-family: 'Oswald', sans-serif;
}

footer p {
  font-family: 'Raleway', sans-serif;
}
