* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lato';}
.center { position: relative; left: 50%; transform: translateX(-50%);}
.block { display: block !important; }
a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

.about-content p a {
    color: #487dff;
    font-weight: bold;
}

body { 
    background: #ecf0f1; 
    overflow-x: hidden;
}
section { position: relative; }

hr {
    width: 80px;
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #487dff;
    text-align: center;
}

header {
    width: 100%;
    position: relative;
    height: calc(3 * 150px);
    background: white;
}

.stripes {
    display: flex;
    flex-flow: column nowrap;
    width: 120%;
    margin-top: -100px;
    margin-left: -50px;
    position: absolute;
}

.stripe {
    height: 150px;
    width: 100%;
    left: 0;
    right: 0;
    transform: rotate(-6deg);
}

.stripe:nth-child(1), .stripe:nth-child(4), .stripe:nth-child(7) { background: #7280fd; }
.stripe:nth-child(2), .stripe:nth-child(5), .stripe:nth-child(8) { background: #487dff; }
.stripe:nth-child(3), .stripe:nth-child(6), .stripe:nth-child(9) { background: linear-gradient(45deg, #487dff, #7280fd) }

.stripe:nth-child(7) { display: none; }
.stripe:nth-child(8) { display: none; }
.stripe:nth-child(9) { display: none; }


.hand {
    animation: waving .5s infinite ease-in-out alternate;
    transform: rotate(0deg);
}

@keyframes waving {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(25deg) }
}


.header-text {
    font-family: 'Lato';
    color: white;
    padding-top: 150px;
    padding-left: 70px;
    font-weight: 300;
}

.header-text div {
    display: flex;
    flex-flow: row nowrap;
}

.header-text__subtitle { 
    font-size: 25px;
    opacity: .7;
}

.section-container {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Lato';
    padding: 50px 0;
}

.about-header {
    width: 40%;
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.about-content {
    font-family: 'Lato';
    width: 40%;
    font-size: 20px;
    color: #333;
    letter-spacing: .3px;
}

.resume-btn {
    margin-top: 10px;
    font-family: 'Lato';
    background: #487dff;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.resume-btn:hover {
    filter: brightness(120%);
}

#about {
    background: white;
}

#experiences {
    background: #ecf0f1;
}

.experience-header {
    text-align: center;
    font-size: 30px;
}

.experience-item {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 0;
}

.item-date {
    width: 27%;
    text-align: right;
}

.item-timeline {
    width: 12%;
}

.item-timeline .circle {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #487dff;
    left: 50%;
    transform: translateX(-50%);
}

.item-timeline .line {
    position: relative;
    background: #487dff;
    /* background: linear-gradient(#487dff, #487dff, #ecf0f1); */
    width: 5px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.item-timeline .line.last{
    background: linear-gradient(#487dff, #487dff, #ecf0f1);    
}

.circle i {
    color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.experience-item .item-information {
    width: 63%;
    background: white;
    padding: 25px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.item-information__name {
    font-size: 30px;
}

.item-information__tech {
    display: flex;
    flex-flow: row wrap;
}

.item-information__tech p {
    background-color: #7280fd;
    color: white;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
    margin-right: 5px;
    margin-bottom: 5px;
}

.projects-header {
    font-size: 30px;
    z-index: 2;
    padding-top: 150px;
    text-align: center;
    color: white;
}

.stripes.r {
    margin-top: 100px;
    z-index: -1;
}

.stripe.r {
    transform: rotate(6deg);
}

.project-item {
    position: relative;
    left: 50%;
    transform: translateX(-50%) !important;
    width: 70%;
    height: 250px;
    background: white;
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-image {
    width: 250px;
    background: red;
    /* filter: grayscale(50%); */
    opacity: .8;
}

.project-item > div {
    padding: 25px 15px;
}

.github-link {
    position: relative;
    margin-top: 50px;
}

.github-link p {
    width: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0px;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: top .2s;
    color: #222;
    top: 0;
}

.github-link p:hover {
    text-decoration: underline;
    cursor: pointer;
    top: -5px;
}

#contact {
    border-top: 1px solid #c5c8c9;
    margin-top: 150px;
    padding: 20px 0 300px 0;
    /* height: 200px; */
    background: white;
}

#contact p {
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}

.social-buttons {
    padding: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.social-buttons i {
    padding: 10px 20px;
    cursor: pointer;
    transition: transform .3s;
}

.social-buttons i:hover {
    transform: scale(1.1)
}

#contact .resume-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .project-item {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .project-item {
        width: 95%;
    }

    .about-content, .about-header {
        width: 70%;
    }
    
    #about .section-container {
        flex-flow: column nowrap;
        padding: 0 0 50px 0;
    }
    #about .section-container div {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .about-header hr {
        margin-bottom: 10px;
    }
} 

@media screen and (max-width: 700px) {
    .header-text {
        padding-top: 80px;
        padding-left: 0;
        text-align: center;
    }
    .header-text p {
        width: 100%;
    }
    .about-content {
        width: 90%;
    }
    .hand {
        display: none;
    }
    .project-image {
        display: none;
    }
    .project-item {
        /* height: 270px; */
        height: auto;
        width: 87%;
    }
    .item-timeline {
        display: none;
    }
    .experience-item .item-information {
        width: 100%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .experience-item .item-date {
        display: none;
    }

    #experiences div .experience-item {
        width: 90%;
    }

    .github-link p {
        width: 87%;
    }

    .stripe:nth-child(7) { display: block; }
    .stripe:nth-child(8) { display: block; }
    .stripe:nth-child(9) { display: block; }

    
}

/* FRAME */
.frame {
    font-size: 10%;
    z-index: 10;
    bottom: 0;
    left: 0; }
    .frame .head {
      position: relative;
      height: 18.750em;
      width: 16.250em;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      background: #f3d19b;
      z-index: 1;
      animation: headbob 5s infinite ease-in-out; }
      .frame .head .hair .sideburn {
        height: 9.375em;
        width: 1.875em;
        background: #391f03;
        position: absolute;
        border-radius: 1.875em; }
        .frame .head .hair .sideburn.left {
          left: 0; }
        .frame .head .hair .sideburn.right {
          right: 0; }
      .frame .head .hair .main-hair {
        width: 100%;
        height: 5em;
        background: #391f03;
        border-top-left-radius: 0.625em;
        border-top-right-radius: 0.625em;
        position: relative;
        animation: hairbob 5s infinite ease-in-out; }
        .frame .head .hair .main-hair .hair-fringe {
          height: 3.438em;
          width: 70%;
          background: #391f03;
          position: absolute;
          right: 0;
          bottom: -1.250em;
          border-radius: 50%;
          transform: rotate(10deg);
          animation: fringebob 5s infinite ease-in-out;
          z-index: 10; }
        .frame .head .hair .main-hair .hair-poof {
          position: absolute;
          height: 1.875em;
          width: 3.125em;
          border-radius: 50%;
          background: #391f03; }
          .frame .head .hair .main-hair .hair-poof.one {
            top: -1.250em;
            width: 100%;
            height: 3.125em; }
          .frame .head .hair .main-hair .hair-poof.two {
            bottom: -0.625em; }
          .frame .head .hair .main-hair .hair-poof.three {
            right: 0;
            bottom: -0.625em; }
      .frame .head .ears .ear {
        height: 4.375em;
        width: 3.750em;
        border-radius: 50%;
        background: #f3d19b;
        position: absolute;
        z-index: -10;
        top: 6.875em; }
        .frame .head .ears .ear.left {
          left: -1.875em; }
        .frame .head .ears .ear.right {
          right: -1.875em; }
      .frame .head .eyes {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        top: 6.250em;
        width: 100%; }
        .frame .head .eyes .eye {
          position: relative;
          height: 4.375em;
          width: 4.375em;
          background: white;
          border-radius: 50%;
          margin: 1.250em; }
          .frame .head .eyes .eye .eyebrow {
            width: 100%;
            height: 0.938em;
            background: #391f03;
            position: absolute;
            top: -0.938em;
            border-radius: 0.938em; }
          .frame .head .eyes .eye .eyelid {
            position: absolute;
            width: 100%;
            height: 1.250em;
            background: #eebc6d;
            border-radius: 1.875em;
            top: 0px;
            z-index: 1;
            animation: blink 5s ease-in-out infinite; }
          .frame .head .eyes .eye .pupil {
            position: relative;
            height: 70%;
            width: 70%;
            background: #391f03;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 0; }
      .frame .head .glasses {
        height: 4.375em;
        width: 90%;
        position: relative;
        top: 2.188em;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        z-index: 10;
        animation: glassesbob 5s infinite ease-in-out; }
        .frame .head .glasses .temple {
          width: 3.125em;
          height: 0.625em;
          background: #13137e;
          position: absolute; }
          .frame .head .glasses .temple.left {
            left: -1.875em;
            transform: rotate(30deg); }
          .frame .head .glasses .temple.right {
            right: -1.875em;
            transform: rotate(-30deg); }
        .frame .head .glasses .bridge {
          position: relative;
          width: 1.563em;
          height: 0.938em;
          background: #13137e;
          top: 1.875em; }
        .frame .head .glasses .lens {
          box-sizing: content-box;
          background: rgba(255, 255, 255, 0.2);
          height: 100%;
          width: 4.375em;
          border: 0.625em solid #13137e;
          border-bottom-left-radius: 30%;
          border-bottom-right-radius: 30%; }
      .frame .head .cheeks .cheek {
        height: 3.750em;
        width: 3.750em;
        border-radius: 50%;
        background: #ffacbb;
        position: absolute;
        z-index: -10;
        top: 10.313em; }
        .frame .head .cheeks .cheek.right {
          right: 0; }
      .frame .head .mouth {
        height: 3.750em;
        width: 60%;
        background: white;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        top: 3.750em; }
    .frame .neck {
      width: 7.5em;
      background: #f0c784;
      height: 4.375em;
      left: 50%;
      margin-top: -1.875em;
      z-index: 0;
      transform: translateX(-50%);
      position: relative; }
    .frame .torso {
      width: 28.125em;
      height: 6.250em;
      background: #13137e;
      border-top-left-radius: 3.125em;
      border-top-right-radius: 3.125em; }
  
  .wiggle-eyebrows {
    animation: wiggleEyebrows 5s linear; }
  
  @keyframes wiggleEyebrows {
    0% {
      top: -0.938em; }
    3% {
      top: -1.563em; }
    6% {
      top: -0.938em; }
    9% {
      top: -1.563em; }
    12% {
      top: -0.938em; } }
  
  .shocked-eyebrows {
    animation: shockedEyebrows 5s linear; }
  
  @keyframes shockedEyebrows {
    0% {
      top: -0.938em; }
    3% {
      top: -1.563em; }
    72% {
      top: -1.563em; }
    75% {
      top: -0.938em; } }
  
  .shocked-eyelids {
    animation: shockedEyelids 5s linear, blink 5s ease-in-out infinite !important; }
  
  @keyframes shockedEyelids {
    0% {
      top: 0px; }
    3% {
      top: -0.625em; }
    72% {
      top: -0.625em; }
    75% {
      top: 0px; } }
  
  .shocked-mouth {
    animation: shockedMouth 5s linear; }
  
  @keyframes shockedMouth {
    0% {
      width: 60%;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%; }
    3% {
      width: 3.750em;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%; }
    72% {
      width: 3.750em;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%; }
    75% {
      width: 60%;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%; } }
  
  .curious-eyebrows-left {
    animation: curiousEyebrowsLeft 5s;
    z-index: 2; }
  
  @keyframes curiousEyebrowsLeft {
    0% {
      top: -0.938em; }
    3% {
      top: 0px; }
    72% {
      top: 0px; }
    75% {
      top: -0.938em; } }
  
  .curious-eyebrows-right {
    animation: curiousEyebrowsRight 5s;
    z-index: 2; }
  
  @keyframes curiousEyebrowsRight {
    0% {
      top: -0.938em;
      transform: rotate(0deg); }
    3% {
      top: -0.625em;
      transform: rotate(10deg); }
    72% {
      top: -0.625em;
      transform: rotate(10deg); }
    75% {
      top: -0.938em;
      transform: rotate(0deg); } }
  
  .curious-mouth {
    animation: curiousMouth 5s; }
  
  @keyframes curiousMouth {
    0% {
      width: 60%;
      height: 3.750em;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%; }
    3% {
      width: 30%;
      height: 1.250em;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%; }
    72% {
      width: 30%;
      height: 1.250em;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%; }
    75% {
      width: 60%;
      height: 3.750em;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%; } }
  
  .angry-mouth {
    animation: angryMouth 5s; }
  
  @keyframes angryMouth {
    0% {
      transform: translateX(-50%) rotate(0deg); }
    3% {
      transform: translateX(-50%) rotate(180deg); }
    72% {
      transform: translateX(-50%) rotate(180deg); }
    75% {
      transform: translateX(-50%) rotate(0deg); } }
  
  .angry-head {
    animation: angrySkin 5s, headbob 5s infinite ease-in-out !important; }
  
  .angry-eyelids {
    animation: angrySkin 5s, blink 5s ease-in-out infinite !important; }
  
  .angry-skin {
    animation: angrySkin 5s; }
  
  @keyframes angrySkin {
    0% {
      background: #f3d19b; }
    3% {
      background: #e43f3f; }
    72% {
      background: #e43f3f; }
    75% {
      background: #f3d19b; } }
  
  .angry-eyebrows-left {
    animation: angryEyebrowsLeft 5s; }
  
  .angry-eyebrows-right {
    animation: angryEyebrowsRight 5s; }
  
  @keyframes angryEyebrowsLeft {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(20deg); }
    72% {
      transform: rotate(20deg); }
    75% {
      transform: rotate(0deg); } }
  
  @keyframes angryEyebrowsRight {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(-20deg); }
    72% {
      transform: rotate(-20deg); }
    75% {
      transform: rotate(0deg); } }
  
  @keyframes blink {
    0% {
      height: 1.250em; }
    2% {
      height: 100%; }
    4% {
      height: 1.250em; } }
  
  @keyframes headbob {
    0% {
      transform: translate(-50%, 0); }
    50% {
      transform: translate(-50%, 0.625em); }
    100% {
      transform: translate(-50%, 0); } }
  
  @keyframes glassesbob {
    0% {
      transform: translate(-50%, 0); }
    50% {
      transform: translate(-50%, 0.313em); }
    100% {
      transform: translate(-50%, 0); } }
  
  @keyframes fringebob {
    0% {
      transform: rotate(10deg) translateY(0); }
    50% {
      transform: rotate(15deg) translateY(0.625em); }
    100% {
      transform: translate(10deg) translateY(0); } }
  