* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  color: black;
}

a:visited {
  color: black;
}

footer {
  height: 20px;
  background: white;
  color: black;
  line-height: 20px;
  text-align: center;
}

.page-container {
  position: relative;
  height: calc(100% - 20px);
  width: 100%;
  border: 10px solid black;
  display: flex;
  flex-flow: column nowrap;
}

.page-container header {
  font-size: x-large;
  padding: 5px;
  border-bottom: 6px solid black;
}

.page-content-container {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.page-content {
  padding: 5px;

  display: flex;
  flex-flow: column nowrap;
}

.page-content-left {
  width: 20%;
  border-right: 6px solid black;
  display: flex;
  flex-flow: column nowrap;
}

.page-content-middle {
  width: 50%;
  border-right: 6px solid black;
  /*overflow: auto;*/
  display: flex;
  flex-flow: column nowrap;
}

.page-content-right {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}

.inventory-item {
  display: flex;
  flex-flow: row nowrap;
}

.inventory-item-name {
  flex-grow: 1;
}

.logs-container {
  overflow: auto;
  height: 100%;
}

.log {
  animation: fadeIn 1s;
  font-size: large;
}

.log p {
  font-size: large;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab {
  cursor: pointer;
  color: dimgrey;
}

.tab:hover {
  text-decoration: underline;
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  min-height: 22px;
}

.tab-content {
  padding-bottom: 30px;
  flex-grow: 1;
  overflow: auto;;
}

.fadeIn {
  animation: fadeIn .5s;
}

.fadeIn-slow {
  animation: fadeIn 1.5s;
}

.content-container {
  display: flex;
  flex-flow: row nowrap;
}

.content {
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
}

.action {
  padding: 5px;
  border: 2px solid black;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  background: white;
  box-shadow: 2px 2px black;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.action-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(0,0,0,0.3)
}

button {
  outline: none;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  filter: brightness(65%);
}


.action:hover {
  text-decoration: underline;
  /*filter: brightness(80%);*/
}

.action:active {
  /*filter: brightness(65%);*/
}

.tooltip {
  background-color: white;
  border: 2px solid black;
  z-index: 2;
  display: none;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.mining-drills-container {
  padding-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}


.mining-resource-container {
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  /*margin-bottom: 5px;*/
  width: 170px;
  max-width: 200px;
  min-width: 170px;
  height: 250px;
  border: 2px solid black;
  padding: 5px;
  margin-right: 5px;
}

.mining-resource-name {
  text-align: center;
  font-weight: bold;
}

.power-btn {
  background: white;
  border: 1px solid black;
  border-radius: 0px;
  cursor: pointer;
  padding: 2px;
}

.drill-btn{
  background: white;
  border: 1px solid black;
  border-radius: 0px;
  width: 15px;
  margin: 0 5px;
  cursor: pointer;
}

.fuel-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
}

.fuel-container select {
  margin-left: 5px;
  background: transparent;
}

.next-line-push {
  width: 100vw;
}

.available-techs, .locked-techs {
  display: flex;
  flex-flow: row wrap;
}

.available-tech {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  background: white;
}

.available-tech:hover {
  filter: brightness(70%);
}

.available-tech:active {
  filter: brightness(65%);
}

.furnaces-container {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 5px;
  overflow: auto;
}

.furnace-container {
  border: 2px solid black;
  width: 170px;
  max-width: 200px;
  min-width: 170px;
  height: 250px;
  padding: 5px;
  margin-right: 5px;
}

.current-tech-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 5px;
}

.progress-bar-container {
  width: 100%;
  height: 30px;
  border: 2px solid black;
}

.progress {
  background: black;
  height: 100%;
  width: 0%;
}

.current-tech-img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: white;
  margin-right: 10px;
}

.current-tech-info {
  flex-grow: 1;
}

.constructors-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}

.constructor {
  border: 2px solid black;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 200px;
  padding: 5px;
  margin-right: 5px;
}

.available-constructor {
  border: 3px dashed black;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 200px;
  padding: 5px;
  margin-right: 5px;
  background: white;
  position: relative;
  background: white;
  cursor: pointer;
}

.available-constructor:hover {
  filter: brightness(80%);
}

.available-constructor h4 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2)
}

.constructor-modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: white;
  border: 4px solid black;
  padding: 5px;
}

.constructor-modal-container button {
  font-size: x-large;
  border: 2px solid black;
  border-radius: 0px;
  padding: 5px 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  cursor: pointer;
}

.row select {
  font-size: medium;
}

.fa-plus-square-o:hover {
  opacity: .7
}

#build-queue {
  height: 25%;
  display: flex;
  flex-flow: column nowrap;
}

.build-queue-container {
  flex-grow: 1;
  overflow: auto;
}

.build-queue-container p:hover {
  font-weight: bold;
}









